/*
Collapses all tables so that undesired internal spaces will not appear.
*/
table{
	border-collapse:collapse;
}

/*
Eliminates space between table cell content and cell walls.
*/
td{
	padding:0px;
}

/*
Eliminates space between the outer edges of the body and the borders of the web browser window.
This class also controls the default color of the body.
*/
body{
	margin:0px;
	background-color:silver;
}