/*
Controls the styling of buttons used for manipulating the stage and voxels.
*/
div.button {
    width:4rem;
    height:4rem;
    background-color:gray;
    font-size:small;
    color:black;
    /*Changes the default cursor to a pointing hand icon.*/
    cursor:pointer;
    /*Disables the user from inadvertently selecting the div's text.*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-align: center;
}
/*
Organizes button controls into a tight group.
*/
.buttonPanel{
    width:12rem;
}
.button-column-left{
    display:inline-block;
    float:left;
    width:33%;
}
.button-column-right{
    display:inline-block;
    float:right;
    width:33%;
}
.button-column-center{
    display:inline-block;
    width:33%;
    vertical-align:top;
}